/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html{scroll-behavior: smooth;}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 22px;
}

.section-title {
    font-size: 22px;
    align-self: stretch;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 600;
}

.neutral-star {
    color: var(--main-bg-color)
}

.display-flex {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.display-column {
    display: flex;
    flex-direction: column;
}

.display-row {
    display: flex;
    flex-direction: row;
}

.gap-30 {
    gap: 30px;
}

.gap-35 {
    gap: 35px;
}

.padding-30 {
    padding: 30px;
}

.margin-0 {
    margin: 0;
}

.titre-18px-700 {
    font-size: 18px;
    font-weight: 700;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-17-700 {
    font-size: 17px;
    font-weight: 700;
}


/****** header index ******/

.header-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -50px;
    margin-right: -50px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.img-header {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px;
}

.nav-header-index {
    margin: 0 50px 0 50px;
    width: 244px;
    display: flex;
    justify-content: space-between;
}

.a-nav-header-index {
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    border-top: 2px solid white;
    transition: all 0.3s ease;
}

.a-nav-header-index:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}



/****** formulaire *******/
.div-title-form {
    row-gap: 8px;
}

.div-label {
    display: flex;
    flex-direction: row;
    height: 49px;
    align-items: center;
}

.label-search {
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 100%;
}

.input-search {
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #F2F2F2;
}

.input-search:focus {
    outline-style: none;
}

.btn-search {
    background-color: #0065FC;
    color: white;
    padding: 15px 16px 15px 16px;
    border-radius: 0 15px 15px 0;
    height: 49px;
    border: none;
}

/****** filtres ******/
.div-filtre {
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
}

.h3-filtre {
    margin: 0;
    font-size: 18px;
    text-align: center;
    margin-right: 15px;
}

.div-cta-filtre {
    gap: 15px;
}

.button-filtre {
    padding: 4px 19px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    height: 50px;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease;
}

.button-filtre:hover {
    background-color: rgba(222, 235, 255, 1);
}

.info-filtre {
    align-items: center;
    display: flex;
    gap: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    flex-direction: column;
}

.hebergements-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.hebergements-cards {
    gap: 4px;
    padding-bottom: 15px;
}


.hebergements-img-cards {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 5px;
}

.hebergements-div {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités ******/
.activites-section {
    flex-direction: column;
    margin-top: 35px;
    padding: 30px;
}

.activites-cards {
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    background-color: white;
}

.activites-img-cards {
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.activites-title {
    margin: 0;
    padding: 20px 19px;
}

/*footer*/
.section-footer-background {
    background-color: #F2F2F2;
    margin-top: 35px;
}

.menu-footer {
    flex-direction: column;
    margin: 0;
    padding: 20px;
    gap: 15px;
    flex: 1;
}

.footer-h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}